---
import { Icon } from 'astro-icon/components'

interface Props {
  icon?: string
  title?: string
  url?: string
}

const { icon = 'mdi:rocket', title = 'Title', url = '#' } = Astro.props
---

<div class="feature">
  <a href={url} class="feature-link">
    <Icon name={icon} />
    <div class="content">
      <h3>{title}</h3>
      <p>
        <slot>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, corporis.</slot>
      </p>
    </div>
  </a>
</div>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .feature {
    position: relative;
    width: calc(100% - 0.5rem);
    padding: 2rem;
    background-color: var(--neutral-100);
    border: 3px solid var(--neutral-700);
    border-radius: 1rem;
    transition: box-shadow 0.3s ease;
    box-shadow: 0.5rem 0.5rem 0 var(--action-color);

    @include breakpoint(large) {
      width: 100%;
    }

    &:hover,
    &:focus-within {
      box-shadow: 0.5rem 0.5rem 0 var(--secondary-color, var(--hover-color));
    }
  }

  .feature-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .content {
    margin-top: 1rem;
  }

  :global(.feature [data-icon]) {
    height: auto;
    width: 4rem;
    color: var(--action-color);
  }

  :global(.darkmode .feature) {
    background-color: var(--dark-100);
  }
</style>
