---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
// import { advScope } from '../../assets/data/advScope.js'
---

<DefaultLayout title="Advanced Course - C1">
  <section class="my-12">
    <div class="space-content container">
      <h1>Advanced</h1>
      <h2>CEFR C1</h2>
    </div>
  </section>
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
        <div class="space-content">
          <h2>Coming soon!</h2>
          <p>I'm working hard to get some content ready for you!</p>
          <!-- <h2>Choose a week</h2>
          <Accordion>
            {advScope.map((week) => (
              <AccordionItem header={`${week.week}: ${week.topic}`}>
                <ul class="mb-10">
                  <li><b>Grammar:</b> {week.grammar.join(', ')}</li>
                  <li><b>Vocabulary:</b> {week.vocabulary.join(', ')}</li>
                </ul>
                <a class="button" href={`/advanced/week${week.week}`}>Let's go!</a>
              </AccordionItem>
            ))}
          </Accordion> -->
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style is:global>
  .accordion__item button {
    text-align: left !important;
  }
</style>